body {
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar {
    background-color: #ff8c00; /* Narancssárga */
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.table-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
